.progressWrapper {
  background-color: transparent;
  width: 15px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: none;
}

.progressMainStyle {
  width: 4px;
  background-color: var(--green3);
  border-bottom: 1px solid var(--gray2);
  border-right: 1px solid var(--gray2);
  transition: none;
  transform-origin: top left;
}
