.top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-top: 2rem;
}

.heading {
  font-size: 4.8rem;
  letter-spacing: -1px;
  line-height: 120%;
  margin-bottom: 3rem;
}

.desc {
  margin-bottom: 3rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 400px;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.authorDate {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 3rem;
}

.author {
  border-radius: 50%;
  border: 2px solid var(--green);
  padding: 0.5rem;
}

.authName {
  font-weight: 900;
  line-height: 100%;
}

.date {
  font-weight: 400;
}

@media screen and (max-width: 1068px) {
  .top {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgContainer {
    height: 350px;
    width: 100%;
  }

  .desc {
    width: 100%;
  }
}
